body
  {
    color: white;
    background: #aaf0d1;
  }
  .heading
  {
    width: 80%;
    font-size: 22px;
  }
  #camera 
  {
    
    width: 400px;
    height: 350px; 
  }
  .name_of_objects, #result_object_name  , #result_object_accuracy
  {
    color: #aaafff;
  }